<div class="pt-28">
    <app-module-banner pagetitle="CONTACT US" subheading="LET’S STAY IN TOUCH!"></app-module-banner>
</div>
<div class="flex justify-center py-20">
<div class="w-11/12 flex justify-center  border-red-50 ">
<app-send-us-message></app-send-us-message>
<app-contact-information></app-contact-information>
</div>
</div>

<div class="  flex justify-center pb-20 px-10">
<div class=" outline-none h-full w-3/4 ">
    <app-address-geo-map></app-address-geo-map>
 
</div>
</div>
<div>

    <app-footer></app-footer>
</div>
        

