<div class="pt-28">
    <app-module-banner pagetitle="recent post" subheading="OUR RECENT BLOG ENTRIES"></app-module-banner>
</div>
<div>
<app-template-banner></app-template-banner>
</div>

<div class="flex justify-center pb-20 ">
    <div class="w-6/12  flex flex-col space-y-7 ">
    <div class="flex    space-x-7 ">
        <app-post image="/assets/blog-thumb-01.jpg" title="lifestyle"
        titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
        comments="12 Comments"
        blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
        template1="Beauty" template2="Nature"></app-post>

        <app-post image="/assets/blog-thumb-02.jpg" title="lifestyle"
                titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
                comments="12 Comments"
                blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
                template1="Beauty" template2="Nature" ></app-post>
    </div>
    <div class="flex    space-x-7 ">
        <app-post image="/assets/blog-thumb-03.jpg" title="lifestyle"
        titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
        comments="12 Comments"
        blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
        template1="Beauty" template2="Nature"></app-post>

        <app-post image="/assets/blog-thumb-04.jpg" title="lifestyle"
                titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
                comments="12 Comments"
                blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
                template1="Beauty" template2="Nature"></app-post>
    </div>
    <div class="flex    space-x-7 ">
        <app-post image="/assets/blog-thumb-05.jpg" title="lifestyle"
        titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
        comments="12 Comments"
        blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
        template1="Beauty" template2="Nature"></app-post>

        <app-post image="/assets/blog-thumb-06.jpg" title="lifestyle"
                titleDescription="Best Template Website For HTML CSS" admin="Admin" date="May 31,2020"
                comments="12 Comments"
                blogdescrption="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
                template1="Beauty" template2="Nature" ></app-post>
    </div>
    <div class="flex justify-center space-x-4">
        <div class="h-12 w-14 border flex justify-center items-center cursor-pointer hover:text-primary">1</div>
        <div class="h-12 bg-secondary text-white w-14 border flex justify-center items-center cursor-pointer hover:text-primary">2</div>
        <div class="h-12 w-14 border flex justify-center items-center cursor-pointer hover:text-primary">3</div>
        <div class="h-12 w-14 border flex justify-center items-center cursor-pointer hover:text-primary ">>></div>
    </div>
</div> 
<div class="flex flex-col">
<app-recent-post></app-recent-post>
<app-categories></app-categories>
<app-tag-cloud></app-tag-cloud>
</div>
</div>

<app-footer></app-footer>