
<div class="px-20  h-full w-full">
    <div class=" border-b uppercase font-bold text-lg  text-black py-4">contact information</div>
    <div class="py-2 border-b space-y-3">
        <div class="text-xl font-bold ">090-484-8080</div>
        <div class="uppercase  text-base text-gray-400">PHONE NUMBER</div>
    </div>
    <div class="py-2 border-b space-y-3">
        <div class="text-xl font-bold ">info@company.com</div>
        <div class="uppercase  text-base text-gray-400">EMAIL ADDRESS</div>
    </div>
    <div class="py-2 border-b space-y-3">
        <div class="text-xl font-bold ">123 Aenean id posuere dui,</div>
        <div class="text-xl font-bold ">Praesent laoreet 10660</div>
        <div class="uppercase  text-base text-gray-400">STREET ADDRESS</div>
    </div>
</div>