<div class="">
    <div class="border-b uppercase text-lg py-4 font-bold text-black">Send us message</div>
    <div class=" flex ">
        <form class="" action="">
            <div class="flex space-x-8 py-10">
                <fieldset class="  ">
                    <input class=" p-3  border text-sm font-medium text-gray-400 h-12 w-80 uppercase " type="text" name="Your Name" placeholder="Your Name">
                </fieldset>
                <fieldset>
                    <input class="p-3  border text-sm font-medium text-gray-400 h-12 w-80 uppercase" type="text" name="your email" id="" placeholder="your email">
                </fieldset>
            </div>
            <div class="pb-10">
            <fieldset>
                <input class="p-3  border text-sm font-medium text-gray-400 uppercase w-full h-12 " type="text" name="Subject" id="" placeholder="Subject">
            </fieldset>
        </div>
            <fieldset class="">
                <textarea class="p-3  border text-sm font-medium text-gray-400 uppercase w-full" name="your message" id="" placeholder="your mesaage" 
                    rows="6"></textarea>
            </fieldset>
        </form>
    </div>
    <div class="py-5">
        <div class="w-36
         h-12 border bg-secondary text-white  uppercase flex justify-center items-center text-xs font-medium">send message</div>
    </div>

</div>