<div class="flex flex-col items-end w-96  space-y-10 py-5">
    <div>
        <div class="w-80 border-b h-10 uppercase font-bold text-lg">tag cloud</div>
    </div>
    <div class="w-80">
        <div class="flex p-2 space-x-3">
            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-24 flex justify-center items-center font-bold h-10 transition duration-500  ">Lifestyle</div>
            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-24 flex justify-center items-center font-bold h-10 transition duration-500  ">Creative</div>

            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                      w-24 flex justify-center items-center font-bold h-10 transition duration-500  ">HTML5</div>
        </div>
        <div class="flex p-2 space-x-3">
            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-28 flex justify-center items-center font-bold h-11 transition duration-500  ">Inspiration</div>

            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-28 flex justify-center items-center font-bold h-10 transition duration-500  ">Motivation</div>

            <div class="border text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-16 flex justify-center items-center font-bold h-10 transition duration-500  ">PSD</div>
        </div>

        <div  class="flex p-2 space-x-3">
            <div class="border  text-gray-400 hover:bg-secondary hover:text-white  cursor-pointer
                     w-28 flex justify-center items-center font-bold h-11 transition duration-500  ">Responsive</div>
        </div>


    </div>
</div>