<!-- <div class=" flex border-b py-5  "> -->
    <div class=" border-b">
   <div class="flex py-5 ">
        <img src={{image}} alt="">
    <div class=" flex flex-col pl-7  ">
    <div class="flex flex-row space-x-2">
        <div class="font-bold text-lg">{{authorname}}</div>
        <div class="text-base flex items-center font-semibold text-gray-400 ">{{date}}</div>
    </div>
    <div class="  " >
        <div class=" leading-7 text-gray-400">{{authordescription}}
        </div>
    </div>
</div>
</div>
</div>