<div class="pt-28">
<app-module-banner pagetitle="About us" subheading="MORE ABOUT US!"></app-module-banner>
</div>
<!-- about-detail section start -->
<div>
<div class="flex flex-col items-center p-20 px-20 justify-center">
    <app-about-us-details></app-about-us-details> 
    <div class="flex justify-center items-center" >
       <app-brief-description title="Two-One Donec porttitor augue" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
       <app-brief-description title="Two-One Donec porttitor augue" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
       
    </div>

    <div class="flex justify-center items-center" >
        <app-brief-description title="1-03 Donec porttitor augue" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
        <app-brief-description title="2-03 Donec porttitor augue" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
        <app-brief-description title="3-03 Donec porttitor augue" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>    
     </div>

     <div class="flex justify-center items-center" >
        <app-brief-description title="01 Four Columns" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
        <app-brief-description title="02 Four Columns" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>
        <app-brief-description title="03 Four Columns" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description> 
        <app-brief-description title="04 Four Columns" description="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere."></app-brief-description>    
     </div>
    </div>

</div>
<!-- about-us detail section end -->

<app-footer></app-footer>

