<div class="">
    <div class=" ">
        <div>
            <img src="/assets/about-us-image.jpg" alt="">
        </div>
        <div class=" border-b flex flex-col items-center justify-center   py-10 space-y-10 ">
            <div class="text-base flex flex-col items-center text-gray-400 leading-7 ">
                <div>Please tell your friends about TemplateMo website. Thank you. You can browse through different
                    categories of templates such as business, portfolio, restaurant, etc.</div>
                <div>Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras
                    ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis.</div>
                <div>Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet.
                </div>
            </div>
            <div class="text-base flex flex-col items-center text-gray-400 leading-7 ">
                <div>Maecenas faucibus ullamcorper felis vitae finibus. Nullam at quam ut lacus aliquam tempor vel sed
                    ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet</div>
                <div>justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet,
                    feugiat viverra leo. Phasellus interdum, diam commodo egestas</div>
                <div>rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</div>
            </div>

        </div>
    </div>
</div>